body {
  margin: 0;
  padding: 0;
}
.searchbox {
  width: 90%;
  margin: 10px auto;
}
.header {
  background: #faaca8;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
.header h1 {
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}
.header h4 {
  text-transform: uppercase;
  color: white;
  margin: 10px 0px;
  margin-bottom: 8px;
}
#value {
  border: none;
  background: white;
  padding: 6px;
  font-size: 18px;
  width: 80%;
  border-radius: 6px;
  color: grey;
}
#value:focus {
  outline: none;
}
.container {
  background: #fffff5;
  padding: 1%;
}
.item {
  margin: 2% 0px;
  display: flex;
  align-items: center;
}
.icon {
  width: 25px;
  height: 25px;
  background: #faaca8;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
.name {
  font-size: 17px;
  font-weight: 470;
  color: #333;
}
